<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesteTecnicoTec21.Properties.Settings.Tech21dbConnectionString"
            connectionString="Data Source=DESKTOP-QR4BNH8\SQLSERVER01;Initial Catalog=Tech21db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>